:root {
    --font_size: 16px;
    --font_size_minus1: 15px;
    --font_size_minus2: 14px;
    --font_size_minus3: 13px;
    --font_size_minus4: 12px;
    --font_size_minus5: 11px;
    --font_size_plus1: 17px;
    --font_size_plus2: 18px;
    --font_size_plus3: 19px;
    --font_size_plus4: 20px;
    --font_size_plus5: 21px;
    --font_size_plus6: 22px;
    --font_size_plus7: 23px;
    --font_size_plus8: 24px;
    --font_size_plus9: 25px;
    --font_size_plus10: 26px;
    --font_size_plus11: 27px;
    --font_size_plus12: 28px;
    --font_size_plus13: 29px;
    --font_size_plus14: 30px;
    --font_size_plus15: 31px;
    --font_size_plus16: 32px;
    --font_size_plus17: 33px;
    --font_size_plus18: 34px;
    --font_size_plus19: 35px;
    --font_size_plus20: 36px;
    --font_size_plus21: 37px;
    --font_size_plus22: 38px;
    --font_size_plus23: 39px;
    --font_size_plus24: 40px;
    --font_size_plus25: 41px;
    --font_size_plus26: 42px;
    --font_size_plus27: 43px;
    --font_size_plus28: 44px;
    --font_size_plus29: 45px;
    --font_size_plus30: 46px;
    --font_size_plus31: 47px;
    --font_size_plus32: 48px;
    --font_size_plus33: 49px;
    --font_size_plus34: 50px;
    --font_size_plus35: 51px;
    --font_size_plus36: 52px;
    --font_size_plus37: 53px;
    --font_size_plus38: 54px;
    --font_size_plus39: 55px;
    --font_size_plus40: 56px;
    --font_size_plus41: 57px;
    --font_size_plus42: 58px;
    --font_size_plus43: 59px;
    --font_size_plus44: 60px;
    --font_size_plus45: 61px;
    --font_size_plus46: 62px;
    --font_size_plus47: 63px;
    --font_size_plus48: 64px;
    --font_size_plus49: 65px;
    --font_size_plus50: 66px;
    --font_size_plus52: 68px;
    --font_size_plus82: 98px;
    --font_size_plus72: 88px;
    --body-line-height: 30px;
    --body-font-weight: 400;
    --header-bg-color: #ffffff;
    --header-hover-bg-color: #ffffff;
    --menu-text-color: #262626;
    --menu-text-hover-color: #262626;
    --menu-open-text-color: #262626;
    --sub-menu-text-color: #808080;
    --count-bg-color: #ffffff;
    --count-number-color: #262626;
    --addon-text-color: #ffffff;
    --addon-text-title-color: rgba(255, 255, 255, 0.7);
    --addon-text-hover-color: #ffffff;
    --menu-open-child-link-color: rgba(38, 38, 38, 0.5);
    --logo-separator-color: rgba(38, 38, 38, 0.3);
    --search-bg-color: #ffffff;
    --search-close-icon-color: #262626;
    --search-icon-color: #262626;
    --search-input-text-color: #262626;
    --search-input-placeholder-color: rgba(38, 38, 38, 0.5);
    --search-title-color: #262626;
    --search-input-border-color: #ffffff;
    --search-input-bg-color: #ffffff;
    --logo-width-desktop: 160px;
    --logo-width-mobile: 130px;
    --header-height-default: 0;
    --miniheader-height-default: 0;
    --container: 1420px;
    --container-fluid: 1660px;
    --container-fluid-offset: 15px;
    --box-layout-width: 1680px;
    --base-color: #429519;
    --body-text-color: #828282;
    --dark-color: #262626;
    --white-color: #ffffff;
    --extra-medium-gray: #e4e4e4;
    --very-light-gray: #f7f7f7;
    --red: #da3f3f;
    --green: #16b36e;
    --sale-label-color: #ffffff;
    --sale-label-bg-color: #da3f3f;
    --new-label-color: #ffffff;
    --new-label-bg-color: #da3f3f;
    --sold-out-label-color: #ffffff;
    --sold-out-label-bg-color: #da3f3f;
    --pre-order-label-color: #ffffff;
    --pre-order-bg-color: #eb8541;
    --h1-font-size: 70px;
    --h2-font-size: 55px;
    --h3-font-size: 45px;
    --h4-font-size: 38px;
    --h5-font-size: 32px;
    --h6-font-size: 28px;
    --h1-line-height: 70px;
    --h2-line-height: 55px;
    --h3-line-height: 45px;
    --h4-line-height: 38px;
    --h5-line-height: 32px;
    --h6-line-height: 28px;
    --heading-font-weight: 600;
    --heading-color: #121310;
    --sub-heading-color: #121310;
    --section-heading-size: 38px;
    --section-heading-line-height: 42px;
    --section-sub-heading-size: 16px;
    --section-sub-heading-line-height: 28px;
    --section-sub-heading-ls: 0px;
    --custom-btn-text-color: #fff;
    --custom-btn-text-hover-color: #121310;
    --custom-btn-bg-color: #121310;
    --custom-btn-bg-hover-color: #fff;
    --custom-btn-border-color: #121310;
    --custom-btn-border-hover-color: #fff;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
}
