:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --sub-color: #e4dddd;
    --background-color: #429519;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e4e4e4;
}

.align-cen {
    align-items: center;
}


@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1580px;
    }
}


header .mob-header {
    display: none;
}

/* header */
header ul,
header span,
header figure {
    margin-bottom: 0;
}

header .top-header {
    background-color: var(--background-color);
    padding: 15px 0;
}

header .site-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .search-bar {
    height: 100%;
    background: #fff;
    border-radius: 50px;
}

header .search-bar form {
    display: flex;
    align-items: center;
    height: 100%;
}

header .search-bar input {
    border: none;
}

header .search-bar input[type="text"] {
    width: 80%;
    background-color: #ffffff;
    border-radius: 50px;
    height: 100%;
    padding-left: 25px;
    color: #000000;
    font-size: 16px;
}

header .search-bar input[type="submit"] {
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50px;
}


header .top-header .site-logo img {
    width: auto;
    height: 25px;
}

header .top-header .number-sec {
    display: flex;
    position: relative;
}

header .top-header .header-conatct-wrap {
    display: flex;
    justify-content: space-around;
}

header .top-header .number-sec a {
    color: var(--primary-color);
    text-decoration: none;
}

header .top-header .number-sec span {
    margin: 0;
    font-size: 16px;
}

header .top-header .number-sec .card-title {
    color: var(--sub-color);

}

header .top-header .number-sec i {
    font-size: 35px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    padding-right: 15px;
}

header .top-header .number-sec .num-link-wrap {
    display: flex;
    flex-direction: column;
}


@media (max-width: 1209px) {
    header .top-header .number-sec i {
        font-size: 19px;
    }

    header .top-header .number-sec span {
        font-size: 15px;
    }
}

@media (max-width: 998px) {
    header .top-header {
        display: none;
    }
}








header .bottom-header {
    background-color: #fff;
    padding: 15px 0;
}

header .bottom-header button {
    border: none;
    border-radius: 50px;
    position: relative;
    padding: 7px 20px;
}

header .bottom-header .offer-btn {
    align-items: center;
    background-color: #ffebd9;
    margin-right: 10px;

}

header .bottom-header .new-arrival-btn {
    align-items: center;
    background-color: #e1f0d8;
}

header .bottom-header .offer-btn::before {
    content: ' ';
    background-image: url(./assets/photograph-thunder-svgrepo-com.svg);
    width: 20px;
    display: block;
    height: 20px;
    background-size: cover;
    margin-right: 5px;
}

header .bottom-header .new-arrival-btn::before {
    content: ' ';
    background-image: url(./assets/tick-circle-svgrepo-com.svg);
    width: 20px;
    display: block;
    height: 20px;
    background-size: cover;
    margin-right: 5px;

}


header .bottom-header .menus {
    list-style: none;
    justify-content: space-evenly;
}

header .bottom-header .menus li {
    padding-left: 10px;
}

header .bottom-header .button-group {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1209px) {
    header .bottom-header button {

        padding: 7px 7px;
    }

}

@media (max-width: 998px) {
    header .bottom-header {
        display: none;
    }
}






@media (max-width: 998px) {
    header .mob-header {
        display: block;
        background-color: var(--background-color);
    }

    header .mob-header .search-bar {
        width: 100%;
        height: 35px;
    }

    header .mob-header .mob-logo {
        width: 100%;
        height: 100%;
    }

    header .mob-header .mob-logo img {
        width: 40px;
        height: auto;
    }

    header .mob-header .icon-group {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    header .mob-header .icon-group i {
        font-size: 27px;
        color: #fff;
    }
    
}








/* header */